.hideOverflow {
  height: calc(100vh / 4) * 3;
  overflow: hidden;
}

.responseText {
  padding-top: calc(100vh / 2);
  animation: paddingMove 1s forwards;
}

@keyframes paddingMove {
  from {
    padding-top: 150vh;
  }
  to {
    padding-top: 0;
  }
}

.container {
  margin-top: calc(100vh / 2 - 8rem);
  position: fixed;
  width: 100%;
}

a:hover {
  color: blue;
  transition: 0.75s;
}

.moveup {
  animation: moveup 1s forwards;
}

@keyframes moveup {
  from {
    margin-top: calc(100vh / 2 - 8rem);
  }
  to {
    margin-top: 0;
  }
}

h1.title {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: 'center';
  margin-bottom: 1rem;
}

.shrink {
  animation: shrink 1s forwards;
}

@keyframes shrink {
  from {
    font-size: 4rem;
  }
  to {
    font-size: 2.125rem;
  }
}

/* 2.125rem */
